.slider {
    display: flex;
    gap: 20px;
}

.left,
.right {
    flex: 1;
}

.slideImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.fixedImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}